= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message

  = label :user, :name
  = text_field :user, :name
  
  = label :user, :age
  = text_field :user, :age
  
  = label :user, :location
  = text_field :user, :location
  
  = label :user, :email
  = text_field :user, :email

  = label :user, :height_in_inches
  = text_field :user, :height
  
  = label :user, :weight_in_pounds
  = text_field :user, :weight
  
  = label :user, :about_me
  = text_field :user, :about
  
  = label :user, :orientation
  = select :user, :orientation, ['Straight','Gay','Bi']
  
  = label :user, :sex
  = select :user, :sex, ['Male','Female','Couple']

  .actions
    = f.submit 'Save'
