= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message

  = label :user, :name, 'Name'
  = text_field :name, 'name'

  = label :user, :age, 'Age'
  = text_field :age, 'age'
  
  = label :user, :location, 'Location'
  = text_field :location, 'location'
  
  = label :user, :email, 'Email'
  = text_field :email, 'email'

  = label :user, :height, 'Height in inches'
  = text_field :height, 'height'
  
  = label :user, :weight, 'Weight in pounds'
  = text_field :weight, 'weight'
  
  = label :user, :about, 'About me'
  = text_field :about, 'about'
  
  = label :user, :orientation, 'Orientation'
  = select :orientation, ['Straight','Gay','Bi']
  
  = label :user, :sex, 'Sex'
  = select :sex, ['Male','Female','Couple']

  .actions
    = f.submit 'Save'
