-title "Users near you (that you have yet to rate)"

= form_tag users_path, :method => :get do
  = label_tag "within distance (default: 100 miles)"
  = text_field_tag :distance, params[:distance]
  = submit_tag "Submit"

%table
  %thead
    %tr
      %th Picture
      %th Name
      %th Sex
      %th Location
      %th About
      %th Age
      %th Height
      %th Weight
      %th Orientation
      %th Distance
      %th Rate
      %th Message

  %tbody
    - @users.each do |user|
      -@user=user
      %tr
        %td= image_tag(@user.picture) if @user.picture
        %td= link_to @user.name, @user
        %td= @user.sex
        %td= @user.location
        %td= truncate(@user.about)
        %td= @user.age
        %td= "#{@user.height} In"
        %td= "#{@user.weight} Lbs"
        %td= @user.orientation
        %td= @user.distance
        - @rate = @user.raters.new
        %td
          =render "rates/form"
        %td= link_to 'Message', conversations_path(sender_id: current_user.id, receiver_id: @user.id), method: :post

%br