-title "Users near you (Listing users you have yet to rate)"

= form_tag users_path, :method => :get do
  = label_tag "within distance"
  = text_field_tag :distance, params[:distance]
  = submit_tag "Submit"

%table
  %thead
    %tr
      %th Picture
      %th Name
      %th Sex
      %th Location
      %th About
      %th Age
      %th Height
      %th Weight
      %th Orientation
      %th Distance
      %th Rate

  %tbody
    - @users.each do |user|
      %tr
        %td= image_tag(user.picture) if user.picture
        %td= link_to user.name, user
        %td= user.sex
        %td= user.location
        %td= truncate(user.about)
        %td= user.age
        %td= "#{user.height} In"
        %td= "#{user.weight} Lbs"
        %td= user.orientation
        %td= user.distance
        %td= link_to 'Rate', new_user_rate_path(user)

%br