-title "Mutual likes: Users you like who also like you"

%table
  %thead
    %tr
      %th Picture
      %th Name
      %th Sex
      %th Location
      %th About
      %th Age
      %th Height
      %th Weight
      %th Orientation
      %th Distance
      %th Rating
      %th Show
      %th Edit
      %th Delete

  %tbody
    - @ratings.each do |rating|
      - user = rating.user
      %tr
        %td= image_tag(user.picture) if user.picture
        %td= link_to user.name, user
        %td= user.sex
        %td= user.location
        %td= truncate(user.about)
        %td= user.age
        %td= "#{user.height} In"
        %td= "#{user.weight} Lbs"
        %td= user.orientation
        %td= user.distance_to(current_user)
        %td= rating.value
        %td= link_to 'Show', [current_user, rating]
        %td= link_to 'Edit', edit_user_rate_path(current_user, rating)
        %td= link_to 'Destroy', [current_user, rating], method: :delete, data: { confirm: 'Are you sure?' }

%br