-title "Listing users who Like you that you've yet to rate"

%table
  %thead
    %tr
      %th Picture
      %th Name
      %th Sex
      %th Location
      %th About
      %th Age
      %th Height
      %th Weight
      %th Orientation
      %th Distance
      %th Rate

  %tbody
    - @raters.each do |rater|
      - user = rater.rater
      %tr
        %td= image_tag(user.picture) if user.picture
        %td= link_to user.name, user
        %td= user.sex
        %td= user.location
        %td= truncate(user.about)
        %td= user.age
        %td= "#{user.height} In"
        %td= "#{user.weight} Lbs"
        %td= user.orientation
        %td= user.distance_to(current_user)
        %td= link_to 'Rate', new_user_rate_path(user)

%br