- title "Showing user: #{@user.name}"

%ul#details
  %li
    Picture
    =image_tag(@user.picture)
  %li
    Sex:
    = @user.sex
  %li
    Age:
    = @user.age
  %li
    Height in inches:
    = @user.height
  %li
    Weight in pounds:
    = @user.weight
  %li
    Orientation:
    = @user.orientation
  %li
    Location:
    = @user.location
  %li
    Distance:
    =@user.distance_to(current_user)
  %li
    Email:
    = @user.email
  %li
    Twitter:
    = link_to @user.twitter, @user.twitter
  %li
    About me:
    = @user.about


= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Users Index', users_path
\|
- if @user.id == current_user.id
  = button_to 'Delete your account', @user, :method => :delete, data: { confirm: 'Are you sure you want to delete your account?' }