- title "Showing user: #{@user.name}"

%ul#details
  %li
    Picture
    =image_tag(@user.picture) if @user.picture
  %li
    Sex:
    = @user.sex
  %li
    Age:
    = @user.age
  %li
    Height in inches:
    = @user.height
  %li
    Weight in pounds:
    = @user.weight
  %li
    Orientation:
    = @user.orientation
  %li
    Location:
    = @user.location
  %li
    Distance:
    =@user.distance_to(current_user)
  %li
    About me:
    = @user.about
  - unless @user.id == current_user.id
    - @rate=@user.raters.find_by(rater_id: current_user.id)
    - if @rate.nil?
      - @rate = @user.raters.new
      %li
        Rate User:
        = render "rates/form"
    - else
      %li
        Edit user rating:
        = render "rates/form"


- if @user.id == current_user.id
  = link_to 'Edit', edit_user_path(@user)
  = button_to 'Delete your account', @user, :method => :delete, data: { confirm: 'Are you sure you want to delete your account?' }