%table
  %thead
    %tr
      %th Picture
      %th Name
      %th Sex
      %th Location
      %th About
      %th Age
      %th Height
      %th Weight
      %th Orientation
      %th Distance
      %th Rating
      %th Show
      %th Edit
      %th Delete
      %th Message

  %tbody
    - @ratings.each do |rating|
      - @rate=rating
      - @user = @rate.user
      %tr
        %td= image_tag(@user.picture) if @user.picture
        %td= link_to @user.name, @user
        %td= @user.sex
        %td= @user.location
        %td= truncate(@user.about)
        %td= @user.age
        %td= "#{@user.height} In"
        %td= "#{@user.weight} Lbs"
        %td= @user.orientation
        %td= @user.distance_to(current_user)
        %td= @rate.value
        %td= link_to 'Show', @rate
        %td
          =render 'form'
        %td= link_to 'Destroy', @rate, method: :delete, data: { confirm: 'Are you sure?' }
        %td= link_to 'Message', conversations_path(sender_id: current_user.id, receiver_id: @user.id), method: :post

%br